In [400]:
import pandas as pd

In [401]:
df = pd.read_csv("data.csv")

In [402]:
df.describe()

,chambres,salles_de_bain,superficie,prix,ville,titre,type
count,66019,64045,51485,50259,67140,67140,67140
unique,11,9,1273,2179,2868,43833,3
top,2,1,100 m²,"450,000","Appartements dans Casablanca, Oulfa",appartement,appartement
freq,30243,28235,2007,851,1706,637,47945

In [403]:
df.head()

,chambres,salles_de_bain,superficie,prix,ville,titre,type
0,3,2,NaN,NaN,"Appartements dans Agadir, Marina",Appartement à vendre 185 m² à Agadir,appartement
1,2,2,81 m²,"850,000","Appartements dans Casablanca, Aïn Borja",appartement en vente ain borja,appartement
2,2,2,92 m²,"1,104,000","Appartements dans Casablanca, Quartier des Hôp...",bel appartement vente quartier des hôpitaux,appartement
3,3,2,NaN,"7,270","Appartements dans Fès, Route d'Immouzere",appartement Neuf a RTE D'imouzzar,appartement
4,NaN,NaN,NaN,"350,000",Immobilier neuf dans Casablanca,Résidence Carré Vert Bouznika,appartement

In [404]:
df.shape

(67140, 7)

In [405]:
df.isnull().sum()

chambres           1121
salles_de_bain     3095
superficie        15655
prix              16881
ville                 0
titre                 0
type                  0
dtype: int64

In [406]:
df2 = df.dropna()

In [407]:
df2.shape

(38928, 7)

In [408]:
df2['prix'] = df2['prix'].apply(lambda x: int(str(x).replace(',', '')))

C:\Users\fatiw\AppData\Local\Temp\ipykernel_14616\2243485982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['prix'] = df2['prix'].apply(lambda x: int(str(x).replace(',', '')))

In [409]:
df2[df2['prix'] < 100000].count()

chambres          2580
salles_de_bain    2580
superficie        2580
prix              2580
ville             2580
titre             2580
type              2580
dtype: int64

In [410]:
df2 = df2[df2['prix'] >= 100000]

In [411]:
df2.shape

(36348, 7)

In [412]:
df2.head()

,chambres,salles_de_bain,superficie,prix,ville,titre,type
1,2,2,81 m²,850000,"Appartements dans Casablanca, Aïn Borja",appartement en vente ain borja,appartement
2,2,2,92 m²,1104000,"Appartements dans Casablanca, Quartier des Hôp...",bel appartement vente quartier des hôpitaux,appartement
6,2,1,100 m²,890000,"Appartements dans Tanger, Achennad",Appartement 100 m² en Vente à Tanger,appartement
7,4,3,350 m²,5800000,"Appartements dans Rabat, Agdal",Appartement à vendre 350 m² à agdal Rabat,appartement
8,2,2,95 m²,1400000,"Appartements dans Marrakech, Guéliz",Appartement à vendre 95 m² à Guéliz - Marrakech,appartement

In [413]:
df2['city'] = df2['ville'].str.extract(r'dans\s+([^,]+)')

In [414]:
df2.head(50)

,chambres,salles_de_bain,superficie,prix,ville,titre,type,city
1,2,2,81 m²,850000,"Appartements dans Casablanca, Aïn Borja",appartement en vente ain borja,appartement,Casablanca
2,2,2,92 m²,1104000,"Appartements dans Casablanca, Quartier des Hôp...",bel appartement vente quartier des hôpitaux,appartement,Casablanca
6,2,1,100 m²,890000,"Appartements dans Tanger, Achennad",Appartement 100 m² en Vente à Tanger,appartement,Tanger
7,4,3,350 m²,5800000,"Appartements dans Rabat, Agdal",Appartement à vendre 350 m² à agdal Rabat,appartement,Rabat
8,2,2,95 m²,1400000,"Appartements dans Marrakech, Guéliz",Appartement à vendre 95 m² à Guéliz - Marrakech,appartement,Marrakech
10,5,2,200 m²,550000,"Appartements dans Tétouan, Centre ville",Appartement à vendre 200 m² à Tétouan,appartement,Tétouan
13,3,2,135 m²,1830000,"Appartements dans Casablanca, 2 Mars",bel appartemenvente anoual et 2 mars,appartement,Casablanca
15,3,2,119 m²,930000,"Appartements dans Casablanca, Aïn Borja",bel appartement en vente ain borja,appartement,Casablanca
17,3,2,92 m²,790000,"Appartements dans Casablanca, Aïn Borja",bel appartement en vente ain borja,appartement,Casablanca
18,3,1,90 m²,630000,"Appartements dans Marrakech, Autre secteur",Appartement 90 m² mhamid 7 1etage,appartement,Marrakech
21,3,2,96 m²,990000,"Appartements dans Casablanca, Ain Sebaa",Appartement à vendre 96 m² à Casablanca,appartement,Casablanca
22,3,2,95 m²,11000000,"Appartements dans Temara, Wifak",Appartement à vendre 95 m² à Temara,appartement,Temara
23,3,2,94 m²,770000,"Appartements dans Bouznika, Autre secteur",شقة برياض الميلودي إصلاح ممتاز,appartement,Bouznika
26,3,2,130 m²,580000,"Appartements dans Fès, Route Ain Chkaf",Appartement à vendre,appartement,Fès
27,3,2,96 m²,1200000,"Appartements dans Tanger, Marjane",Appartement à vendre 96 m² à Tanger,appartement,Tanger
28,2,2,128 m²,1400000,"Appartements dans Dar Bouazza, Toute la ville",Appartement à vendre 128 m² à Dar Bouazza,appartement,Dar Bouazza
30,2,1,67 m²,690000,"Appartements dans Casablanca, Al Fida",appartement à ABRAJ ALFIDA,appartement,Casablanca
31,2,2,93 m²,1950000,"Appartements dans Tanger, De La Plage",Appartement à vendre 93 m² à Tanger,appartement,Tanger
32,3,3,168 m²,3400000,"Appartements dans Rabat, Hay Riad",Appartement à vendre à Rabat Hay RIad Prestigia,appartement,Rabat
33,3,2,113 m²,1550000,"Appartements dans Casablanca, Anfa",Vente Appartement 115 m² Bd Abdelmoumen Casabl...,appartement,Casablanca
35,2,3,100 m²,3000000,"Appartements dans Casablanca, Sidi Belyout",Marina Casablanca Appartement à vendre 115 m² à,appartement,Casablanca
40,2,2,77 m²,700000,"Appartements dans Casablanca, Aïn Borja",bel appartement en vente bd ben tachfine,appartement,Casablanca
42,2,2,78 m²,595000,"Appartements dans Dar Bouazza, Toute la ville",Appartement à vendre 66 m² à Dar Bouazza,appartement,Dar Bouazza
44,2,1,88 m²,370000,"Appartements dans Taza, Toute la ville",Appartement,appartement,Taza
45,2,1,127 m²,850000,"Appartements dans Tanger, Charf",appartement 127 metro,appartement,Tanger
47,2,1,120 m²,780000,"Appartements dans Casablanca, Hay Mohammadi",شقة للبيع الحي محمدي,appartement,Casablanca
49,2,1,72 m²,580000,"Appartements dans Casablanca, Aïn Borja",appartement à retaper en vente ain borja,appartement,Casablanca
51,3,1,79 m²,730000,"Appartements dans Casablanca, Aïn Borja",bel appartement en vente ain borja,appartement,Casablanca
52,3,1,112 m²,950000,"Appartements dans Casablanca, Aïn Borja",bel appartement en vente 3 chambres 1 salon,appartement,Casablanca
54,2,2,85 m²,1100000,"Appartements dans Marrakech, Victor Hugo",Appartement à vendre 85 m² à Marrakech,appartement,Marrakech
55,2,2,108 m²,920000,"Appartements dans Casablanca, Belvédère",chic appartement belvédère,appartement,Casablanca
56,2,1,92 m²,520000,"Appartements dans Martil, Toute la ville",Appart Neuf 91m Titré proche Plage Martil,appartement,Martil
57,2,2,121 m²,2200000,"Appartements dans Rabat, Hassan",Allal Ben Abdellah-Appart rénové en vente .,appartement,Rabat
59,2,1,90 m²,1050000,"Appartements dans Tanger, Val Fleuri",Appartement à vendre 90 m² à Tanger,appartement,Tanger
61,2,2,78 m²,950000,"Appartements dans Casablanca, Ain Sebaa",Appartement à vendre 78 m² à Casablanca,appartement,Casablanca
62,2,2,107 m²,1500000,"Appartements dans Casablanca, Palmier",Appartement 99m Palmier,appartement,Casablanca
64,2,1,77 m²,780000,"Appartements dans Casablanca, Aïn Borja",bel appartement en vente bd ben tachfine,appartement,Casablanca
65,2,1,75 m²,720000,"Appartements dans Marrakech, Autre secteur",Opportunité à saisir Appartement à vendre 75 m²,appartement,Marrakech
67,2,2,88 m²,1160000,"Appartements dans Marrakech, Guéliz",Appartement à vendre plein centre gueliz,appartement,Marrakech
69,3,1,121 m²,1400000,"Appartements dans Skhirat, Autre secteur",TEM-TE-1005 - Appartement à vendre à Centre ville,appartement,Skhirat
70,3,2,150 m²,1700000,"Appartements dans Rabat, Diour Jamaa",RBA-HA-1080 - Appartement à vendre à Diour Jamaa,appartement,Rabat
71,3,2,247 m²,2600000,"Appartements dans Marrakech, Route de Casablanca",Appartement à vendre 247 m² à Marrakech,appartement,Marrakech
74,3,3,134 m²,850000,"Appartements dans Meknès, Hamria",appartement 134 m a vendre,appartement,Meknès
75,2,2,105 m²,940000,"Appartements dans Casablanca, Roches Noires",appartement deux façade,appartement,Casablanca
79,2,2,210 m²,1200000,"Appartements dans Casablanca, Belvédère",Appartement à vendre 165 m² à Casablanca,appartement,Casablanca
80,3,2,m²,1750000,"Appartements dans Rabat, Guich Oudaya",RBA-SKH-TE-1053 - Appartement à vendre à Guich...,appartement,Rabat
81,1,1,45 m²,1200000,"Appartements dans Marrakech, Guéliz",Appartement à vendre 41 m² à Marrakech,appartement,Marrakech
84,2,2,93 m²,800000,"Appartements dans Casablanca, Aïn Borja",joli appartement ensoleillée,appartement,Casablanca
88,3,1,99 m²,1190000,"Appartements dans Tanger, Branes 1",Appartement à vendre 100 m² à Tanger,appartement,Tanger
90,1,1,60 m²,820000,"Appartements dans Casablanca, Centre Ville",studio lux 59 mètre À vendre centre ville,appartement,Casablanca

In [415]:
df2['secteur'] = df2['ville'].str.extract(r',\s*([^,]+)(?:\s*,|$)')

In [416]:
df2.head(50)

,chambres,salles_de_bain,superficie,prix,ville,titre,type,city,secteur
1,2,2,81 m²,850000,"Appartements dans Casablanca, Aïn Borja",appartement en vente ain borja,appartement,Casablanca,Aïn Borja
2,2,2,92 m²,1104000,"Appartements dans Casablanca, Quartier des Hôp...",bel appartement vente quartier des hôpitaux,appartement,Casablanca,Quartier des Hôpitaux
6,2,1,100 m²,890000,"Appartements dans Tanger, Achennad",Appartement 100 m² en Vente à Tanger,appartement,Tanger,Achennad
7,4,3,350 m²,5800000,"Appartements dans Rabat, Agdal",Appartement à vendre 350 m² à agdal Rabat,appartement,Rabat,Agdal
8,2,2,95 m²,1400000,"Appartements dans Marrakech, Guéliz",Appartement à vendre 95 m² à Guéliz - Marrakech,appartement,Marrakech,Guéliz
10,5,2,200 m²,550000,"Appartements dans Tétouan, Centre ville",Appartement à vendre 200 m² à Tétouan,appartement,Tétouan,Centre ville
13,3,2,135 m²,1830000,"Appartements dans Casablanca, 2 Mars",bel appartemenvente anoual et 2 mars,appartement,Casablanca,2 Mars
15,3,2,119 m²,930000,"Appartements dans Casablanca, Aïn Borja",bel appartement en vente ain borja,appartement,Casablanca,Aïn Borja
17,3,2,92 m²,790000,"Appartements dans Casablanca, Aïn Borja",bel appartement en vente ain borja,appartement,Casablanca,Aïn Borja
18,3,1,90 m²,630000,"Appartements dans Marrakech, Autre secteur",Appartement 90 m² mhamid 7 1etage,appartement,Marrakech,Autre secteur
21,3,2,96 m²,990000,"Appartements dans Casablanca, Ain Sebaa",Appartement à vendre 96 m² à Casablanca,appartement,Casablanca,Ain Sebaa
22,3,2,95 m²,11000000,"Appartements dans Temara, Wifak",Appartement à vendre 95 m² à Temara,appartement,Temara,Wifak
23,3,2,94 m²,770000,"Appartements dans Bouznika, Autre secteur",شقة برياض الميلودي إصلاح ممتاز,appartement,Bouznika,Autre secteur
26,3,2,130 m²,580000,"Appartements dans Fès, Route Ain Chkaf",Appartement à vendre,appartement,Fès,Route Ain Chkaf
27,3,2,96 m²,1200000,"Appartements dans Tanger, Marjane",Appartement à vendre 96 m² à Tanger,appartement,Tanger,Marjane
28,2,2,128 m²,1400000,"Appartements dans Dar Bouazza, Toute la ville",Appartement à vendre 128 m² à Dar Bouazza,appartement,Dar Bouazza,Toute la ville
30,2,1,67 m²,690000,"Appartements dans Casablanca, Al Fida",appartement à ABRAJ ALFIDA,appartement,Casablanca,Al Fida
31,2,2,93 m²,1950000,"Appartements dans Tanger, De La Plage",Appartement à vendre 93 m² à Tanger,appartement,Tanger,De La Plage
32,3,3,168 m²,3400000,"Appartements dans Rabat, Hay Riad",Appartement à vendre à Rabat Hay RIad Prestigia,appartement,Rabat,Hay Riad
33,3,2,113 m²,1550000,"Appartements dans Casablanca, Anfa",Vente Appartement 115 m² Bd Abdelmoumen Casabl...,appartement,Casablanca,Anfa
35,2,3,100 m²,3000000,"Appartements dans Casablanca, Sidi Belyout",Marina Casablanca Appartement à vendre 115 m² à,appartement,Casablanca,Sidi Belyout
40,2,2,77 m²,700000,"Appartements dans Casablanca, Aïn Borja",bel appartement en vente bd ben tachfine,appartement,Casablanca,Aïn Borja
42,2,2,78 m²,595000,"Appartements dans Dar Bouazza, Toute la ville",Appartement à vendre 66 m² à Dar Bouazza,appartement,Dar Bouazza,Toute la ville
44,2,1,88 m²,370000,"Appartements dans Taza, Toute la ville",Appartement,appartement,Taza,Toute la ville
45,2,1,127 m²,850000,"Appartements dans Tanger, Charf",appartement 127 metro,appartement,Tanger,Charf
47,2,1,120 m²,780000,"Appartements dans Casablanca, Hay Mohammadi",شقة للبيع الحي محمدي,appartement,Casablanca,Hay Mohammadi
49,2,1,72 m²,580000,"Appartements dans Casablanca, Aïn Borja",appartement à retaper en vente ain borja,appartement,Casablanca,Aïn Borja
51,3,1,79 m²,730000,"Appartements dans Casablanca, Aïn Borja",bel appartement en vente ain borja,appartement,Casablanca,Aïn Borja
52,3,1,112 m²,950000,"Appartements dans Casablanca, Aïn Borja",bel appartement en vente 3 chambres 1 salon,appartement,Casablanca,Aïn Borja
54,2,2,85 m²,1100000,"Appartements dans Marrakech, Victor Hugo",Appartement à vendre 85 m² à Marrakech,appartement,Marrakech,Victor Hugo
55,2,2,108 m²,920000,"Appartements dans Casablanca, Belvédère",chic appartement belvédère,appartement,Casablanca,Belvédère
56,2,1,92 m²,520000,"Appartements dans Martil, Toute la ville",Appart Neuf 91m Titré proche Plage Martil,appartement,Martil,Toute la ville
57,2,2,121 m²,2200000,"Appartements dans Rabat, Hassan",Allal Ben Abdellah-Appart rénové en vente .,appartement,Rabat,Hassan
59,2,1,90 m²,1050000,"Appartements dans Tanger, Val Fleuri",Appartement à vendre 90 m² à Tanger,appartement,Tanger,Val Fleuri
61,2,2,78 m²,950000,"Appartements dans Casablanca, Ain Sebaa",Appartement à vendre 78 m² à Casablanca,appartement,Casablanca,Ain Sebaa
62,2,2,107 m²,1500000,"Appartements dans Casablanca, Palmier",Appartement 99m Palmier,appartement,Casablanca,Palmier
64,2,1,77 m²,780000,"Appartements dans Casablanca, Aïn Borja",bel appartement en vente bd ben tachfine,appartement,Casablanca,Aïn Borja
65,2,1,75 m²,720000,"Appartements dans Marrakech, Autre secteur",Opportunité à saisir Appartement à vendre 75 m²,appartement,Marrakech,Autre secteur
67,2,2,88 m²,1160000,"Appartements dans Marrakech, Guéliz",Appartement à vendre plein centre gueliz,appartement,Marrakech,Guéliz
69,3,1,121 m²,1400000,"Appartements dans Skhirat, Autre secteur",TEM-TE-1005 - Appartement à vendre à Centre ville,appartement,Skhirat,Autre secteur
70,3,2,150 m²,1700000,"Appartements dans Rabat, Diour Jamaa",RBA-HA-1080 - Appartement à vendre à Diour Jamaa,appartement,Rabat,Diour Jamaa
71,3,2,247 m²,2600000,"Appartements dans Marrakech, Route de Casablanca",Appartement à vendre 247 m² à Marrakech,appartement,Marrakech,Route de Casablanca
74,3,3,134 m²,850000,"Appartements dans Meknès, Hamria",appartement 134 m a vendre,appartement,Meknès,Hamria
75,2,2,105 m²,940000,"Appartements dans Casablanca, Roches Noires",appartement deux façade,appartement,Casablanca,Roches Noires
79,2,2,210 m²,1200000,"Appartements dans Casablanca, Belvédère",Appartement à vendre 165 m² à Casablanca,appartement,Casablanca,Belvédère
80,3,2,m²,1750000,"Appartements dans Rabat, Guich Oudaya",RBA-SKH-TE-1053 - Appartement à vendre à Guich...,appartement,Rabat,Guich Oudaya
81,1,1,45 m²,1200000,"Appartements dans Marrakech, Guéliz",Appartement à vendre 41 m² à Marrakech,appartement,Marrakech,Guéliz
84,2,2,93 m²,800000,"Appartements dans Casablanca, Aïn Borja",joli appartement ensoleillée,appartement,Casablanca,Aïn Borja
88,3,1,99 m²,1190000,"Appartements dans Tanger, Branes 1",Appartement à vendre 100 m² à Tanger,appartement,Tanger,Branes 1
90,1,1,60 m²,820000,"Appartements dans Casablanca, Centre Ville",studio lux 59 mètre À vendre centre ville,appartement,Casablanca,Centre Ville

In [417]:
df2 = df2.drop('ville', axis=1)
df2 = df2.rename(columns={'city': 'ville'})

In [418]:
df2.head()

,chambres,salles_de_bain,superficie,prix,titre,type,ville,secteur
1,2,2,81 m²,850000,appartement en vente ain borja,appartement,Casablanca,Aïn Borja
2,2,2,92 m²,1104000,bel appartement vente quartier des hôpitaux,appartement,Casablanca,Quartier des Hôpitaux
6,2,1,100 m²,890000,Appartement 100 m² en Vente à Tanger,appartement,Tanger,Achennad
7,4,3,350 m²,5800000,Appartement à vendre 350 m² à agdal Rabat,appartement,Rabat,Agdal
8,2,2,95 m²,1400000,Appartement à vendre 95 m² à Guéliz - Marrakech,appartement,Marrakech,Guéliz

In [419]:
df2['superficie'] = df2['superficie'].str.extract('(\d+)').fillna(0).astype(int)

In [420]:
df2.tail()

,chambres,salles_de_bain,superficie,prix,titre,type,ville,secteur
67134,2,2,202,640000,petit villa,Villa et Riad,Fès,Laayoun
67135,4,2,244,4200000,Villa à Marrakech,Villa et Riad,Marrakech,Targa
67136,5,2,121,900000,Maison et villa,Villa et Riad,Imintanoute,Toute la ville
67138,4,2,120,900000,maison 200 m2 village a cote ait bihi taghazout,Villa et Riad,Taghazout,Toute la ville
67139,3,3,220,2250000,Villa/Jnan Nouaceur Habitat Projet Sapino Aéro...,Villa et Riad,Deroua,Toute la ville

In [421]:
df2.shape

(36348, 8)

In [422]:
# Handle '10+ ' case and convert to int
df2['chambres'] = df2['chambres'].apply(lambda x: int(x.replace('+', '').strip()))
df2['salles_de_bain'] = df2['salles_de_bain'].apply(lambda x: int(x.replace('+', '').strip()))

In [423]:
df2 = df2.rename(columns={'superficie': 'superficie en m²'})

In [424]:
df2.head()

,chambres,salles_de_bain,superficie en m²,prix,titre,type,ville,secteur
1,2,2,81,850000,appartement en vente ain borja,appartement,Casablanca,Aïn Borja
2,2,2,92,1104000,bel appartement vente quartier des hôpitaux,appartement,Casablanca,Quartier des Hôpitaux
6,2,1,100,890000,Appartement 100 m² en Vente à Tanger,appartement,Tanger,Achennad
7,4,3,350,5800000,Appartement à vendre 350 m² à agdal Rabat,appartement,Rabat,Agdal
8,2,2,95,1400000,Appartement à vendre 95 m² à Guéliz - Marrakech,appartement,Marrakech,Guéliz

In [425]:
df2[df2['superficie en m²'] == 0].count()

chambres            64
salles_de_bain      64
superficie en m²    64
prix                64
titre               64
type                64
ville               64
secteur             64
dtype: int64

In [426]:
df2 = df2[df2['superficie en m²'] != 0]

In [427]:
df2.shape

(36284, 8)

In [428]:
df2[df2['prix'] == 2000000000]

,chambres,salles_de_bain,superficie en m²,prix,titre,type,ville,secteur
59348,8,6,5000,2000000000,فيلا في مولاي عبد السلام,Maison et Villa,Tétouan,Autre secteur
60845,8,8,10000,2000000000,قصر للبيع الكاموني,Villa et Riad,Rabat,Autre secteur

In [429]:
df3 = df2.groupby('secteur')['secteur'].agg('count').sort_values(ascending=False)

In [430]:
df2 = df2.drop('secteur', axis=1)

In [431]:
df2.head()

,chambres,salles_de_bain,superficie en m²,prix,titre,type,ville
1,2,2,81,850000,appartement en vente ain borja,appartement,Casablanca
2,2,2,92,1104000,bel appartement vente quartier des hôpitaux,appartement,Casablanca
6,2,1,100,890000,Appartement 100 m² en Vente à Tanger,appartement,Tanger
7,4,3,350,5800000,Appartement à vendre 350 m² à agdal Rabat,appartement,Rabat
8,2,2,95,1400000,Appartement à vendre 95 m² à Guéliz - Marrakech,appartement,Marrakech

In [432]:
df4 = df2.groupby('type')['type'].agg('count')
df4.head()

type
Maison et Villa     5621
Villa et Riad       4130
appartement        26533
Name: type, dtype: int64

In [433]:
villa_count = df2[
   ((df2['titre'].str.contains('villa', case=False)) | 
    (df2['titre'].str.contains('فيلا', case=False))) & 
   (df2['type'] == 'Maison et Villa')
].shape[0]

villa_count

118

In [434]:
df2.loc[
   ((df2['titre'].str.contains('villa', case=False)) | 
    (df2['titre'].str.contains('فيلا', case=False))) & 
   (df2['type'] == 'Maison et Villa'),
   'type'
] = 'Villa et Riad'

In [435]:
df3 = df2.groupby('type')['type'].agg('count')

In [436]:
df3.head(50)

type
Maison et Villa     5503
Villa et Riad       4248
appartement        26533
Name: type, dtype: int64

In [437]:
df2 = df2[df2['superficie en m²'] >= 10]

In [438]:
df2[df2['superficie en m²'] ==13]

,chambres,salles_de_bain,superficie en m²,prix,titre,type,ville
9031,2,2,13,1500000,Apprt moderne 2 ch salon à la ferme bretone,appartement,Casablanca
32980,2,1,13,1050000,Bel appartement lumieux,appartement,Casablanca

In [439]:
df2.shape

(35981, 7)

In [440]:
df2[df2['superficie en m²'] == 25]

,chambres,salles_de_bain,superficie en m²,prix,titre,type,ville
8191,1,1,25,730000,Studio à vendre 25 m² à Rabat,appartement,Rabat
26189,2,1,25,40000000,Appartement,appartement,Casablanca
38096,1,1,25,600000,studio avendre agdal,appartement,Rabat
39026,2,2,25,1650000,Appartement à vendre 94 m² à Casablanca,appartement,Casablanca
41222,2,1,25,350000,Appartement à vendre 46 m² à Casablanca,appartement,Casablanca
42062,1,0,25,220000,garage كراج,appartement,Sidi Allal El Bahraoui
59125,1,1,25,30000000,شقة صغيرة مرتيل,Maison et Villa,Martil

In [441]:
mask = df2['titre'].str.contains(r'\d+\s*m²', case=False, na=False)
df2.loc[mask, 'superficie en m²'] = df2.loc[mask, 'titre'].str.extract(r'(\d+)\s*m²')[0].fillna(df2.loc[mask, 'superficie en m²']).astype(int)

In [442]:
 df2[(df2['superficie en m²'] == 46) & (df2['prix'] ==350000 	)]

,chambres,salles_de_bain,superficie en m²,prix,titre,type,ville
23453,2,1,46,350000,Appartement à vendre 46 m² à Tanger,appartement,Tanger
39343,2,1,46,350000,Appartement à vendre 46 m² à Casablanca,appartement,Casablanca
41222,2,1,46,350000,Appartement à vendre 46 m² à Casablanca,appartement,Casablanca

In [443]:
df2 = df2.drop('titre', axis=1)

In [444]:
df2.shape

(35981, 6)

In [445]:
df2.head()

,chambres,salles_de_bain,superficie en m²,prix,type,ville
1,2,2,81,850000,appartement,Casablanca
2,2,2,92,1104000,appartement,Casablanca
6,2,1,100,890000,appartement,Tanger
7,4,3,350,5800000,appartement,Rabat
8,2,2,95,1400000,appartement,Marrakech

In [446]:
df2[(df2['prix'] > 5000000) & (df2['superficie en m²'] < 200) & (df2['type'] == 'appartement')]

,chambres,salles_de_bain,superficie en m²,prix,type,ville
22,3,2,95,11000000,appartement,Temara
976,3,2,115,15000000,appartement,Marrakech
1240,2,2,89,7400000,appartement,Salé
1463,2,2,169,15000000,appartement,Casablanca
1646,2,1,57,55000000,appartement,Tanger
...,...,...,...,...,...,...
46999,5,2,96,9600000,appartement,Casablanca
47411,2,1,50,30000000,appartement,Tamesna
47634,2,1,75,7900000,appartement,Martil
47769,2,1,54,44000000,appartement,Casablanca
47776,3,2,140,220000000,appartement,Rabat

In [447]:
mask = (df2['prix'] > 5000000) & (df2['superficie en m²'] < 200) & (df2['type'] == 'appartement')
df2 = df2[~mask]

In [448]:
df2.shape

(35688, 6)

In [449]:
mask = (df2['prix'] > 5000000) & (df2['type'] == 'appartement')
df2 = df2[~mask]

In [450]:
df2.shape

(35572, 6)

In [451]:
mask = (df2['prix'] < 200000) & (df2['type'] == 'appartement')
df2 = df2[~mask]
df2.shape

(35242, 6)

In [452]:
mask = (df2['prix'] < 300000) & (df2['superficie en m²'] >60) & (df2['type'] == 'appartement')
df2 = df2[~mask]

In [453]:
df2.shape

(34713, 6)

In [454]:
maskk = (df2['prix'] > 5000000) & (df2['type'] == 'Maison et Villa')
df2 = df2[~maskk]

In [455]:
df2.shape

(34441, 6)

In [456]:
maskk = (df2['prix'] < 500000) & (df2['superficie en m²'] > 40) & (df2['type'] == 'Maison et Villa')
df2 = df2[~maskk]

In [457]:
df2.shape

(33620, 6)

In [458]:
maskk = (df2['prix'] < 300000) & (df2['type'] == 'Maison et Villa')
df2 = df2[~maskk]

In [459]:
df2.shape

(33604, 6)

In [460]:
maskt = (df2['prix'] < 1000000) & (df2['type'] == 'Villa et Riad') 
df2 = df2[~maskt]

In [461]:
maskt2 = (df2['prix'] > 20000000) & (df2['type'] == 'Villa et Riad') 
df2 = df2[~maskt2]

In [462]:
df2.shape

(33199, 6)

In [463]:
df7 = df2.groupby('type')['type'].agg('count')

In [464]:
ville_counts = df2['ville'].value_counts()
valid_villes = ville_counts[ville_counts >= 20].index
valid_villes

Index(['Casablanca', 'Marrakech', 'Tanger', 'Kénitra', 'Salé', 'Fès', 'Rabat',
       'Agadir', 'Temara', 'Meknès', 'El Jadida', 'Mohammedia', 'Oujda',
       'Martil', 'Tétouan', 'Bouskoura', 'Bouznika', 'Sidi Rahal', 'Berrechid',
       'Dar Bouazza', 'Saidia', 'Safi', 'Tamesna', 'Béni Mellal',
       'Had Soualem', 'Deroua', 'Settat', 'Skhirat', 'Taza', 'Asilah',
       'Benslimane', 'El Mansouria', 'Mehdia', 'Berkane', 'Khemisset', 'Nador',
       'Khouribga', 'Larache', 'Nouaceur', 'Tit Mellil',
       'Sidi Allal El Bahraoui', 'Tamaris', 'Ain Aouda', 'Essaouira', 'Sefrou',
       'Sidi Bouzid', 'Tamensourt', 'Laâyoune', 'Ksar el-Kebir', 'Ain Attig',
       'Fnideq', 'Oued Laou', 'Ait Melloul', 'Tiznit', 'Azemmour', 'Mediouna',
       'Mdiq', 'Sidi Kacem', 'Ouarzazate', 'Ain Harrouda', 'Cabo Negro',
       'Tifelt', 'Al Hoceima', 'Sidi Slimane', 'Khénifra', 'Ifrane',
       'Taroudant', 'Ben Guerir', 'Selouane', 'Errahma', 'Azrou', 'Errachidia',
       'Bir Jdid', 'Fquih Ben Saleh', 'Sidi Bouknadel', 'Imouzzer-Kendar',
       'Inzegan', 'Cap de l'eau', 'El Hajeb', 'Chefchaouen', 'Béni Yakhlef',
       'Ahfir', 'Sidi Bennour', 'Dcheïra El Jihadia'],
      dtype='object', name='ville')

In [465]:
df2['ville'].value_counts()

ville
Casablanca       8869
Marrakech        2783
Tanger           2323
Kénitra          1803
Salé             1333
                 ...
Oulad M'barek       1
Figuig              1
Missour             1
Tameslohte          1
Adrej               1
Name: count, Length: 274, dtype: int64

In [466]:
df2 = df2[df2['ville'].isin(valid_villes)]
df2.shape
df2['ville'].value_counts()

ville
Casablanca            8869
Marrakech             2783
Tanger                2323
Kénitra               1803
Salé                  1333
                      ...
El Hajeb                22
Chefchaouen             22
Ahfir                   21
Dcheïra El Jihadia      20
Sidi Bennour            20
Name: count, Length: 84, dtype: int64

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import xgboost as xgb
import numpy as np
from sklearn.metrics import mean_absolute_percentage_error, r2_score

# More aggressive outlier removal
def remove_outliers(df, price_column='prix'):
    Q1 = df[price_column].quantile(0.05)
    Q3 = df[price_column].quantile(0.95)
    df = df[(df[price_column] >= Q1) & (df[price_column] <= Q3)]
    
    # Remove outliers from superficie
    Q1_sup = df['superficie en m²'].quantile(0.05)
    Q3_sup = df['superficie en m²'].quantile(0.95)
    return df[(df['superficie en m²'] >= Q1_sup) & (df['superficie en m²'] <= Q3_sup)]

# Clean data
df_cleaned = remove_outliers(df2)
print(f"Original shape: {df2.shape}, After removing outliers: {df_cleaned.shape}")

# Safe feature engineering
def safe_division(a, b):
    return np.where(b > 0, a / b, 0)

# Feature engineering
df_cleaned['rooms_per_bath'] = safe_division(df_cleaned['chambres'], df_cleaned['salles_de_bain'])

# Remove any remaining infinite values
df_cleaned = df_cleaned.replace([np.inf, -np.inf], np.nan).dropna()

# Define features
numeric_features = ['chambres', 'salles_de_bain', 'superficie en m²', 
                    'rooms_per_bath']
categorical_features = ['type', 'ville']

# Create preprocessing steps
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
        ('cat', OneHotEncoder(drop='first', sparse_output=False), categorical_features)
    ])

# Create pipeline with tuned XGBoost
model = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', xgb.XGBRegressor(
        n_estimators=300,
        learning_rate=0.03,
        max_depth=6,
        min_child_weight=2,
        subsample=0.8,
        colsample_bytree=0.8,
        reg_alpha=0.1,
        reg_lambda=1.0,
        random_state=42,
        tree_method='hist'
    ))
])

# Prepare data
X = df_cleaned[numeric_features + categorical_features]
y = df_cleaned['prix']

# Log transform target variable
y = np.log1p(y)

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit model
model.fit(X_train, y_train)

# Make predictions and inverse transform
y_pred = np.expm1(model.predict(X_test))
y_test = np.expm1(y_test)

# Calculate metrics
r2 = r2_score(y_test, y_pred)
mape = mean_absolute_percentage_error(y_test, y_pred)

print(f"Model R² Score: {r2}")
print(f"Mean Absolute Percentage Error: {mape*100:.2f}%")

# Print some predictions
print("\nSample Predictions vs Actual:")
for pred, actual in zip(y_pred[:5], y_test[:5]):
    print(f"Predicted: {pred:,.0f}, Actual: {actual:,.0f}")
    print(f"Difference: {abs(pred-actual):,.0f} ({abs(pred-actual)/actual*100:.1f}%)")

# Save model
with open('model_abdo.pkl', 'wb') as f:
    pickle.dump((model, numeric_features, categorical_features), f)

NameError: name 'df2' is not defined

In [469]:
# Print data statistics
print("\nTraining Data Statistics:")
print("\nNumerical Features Statistics:")
print(df_cleaned[numeric_features].describe())

print("\nPrice Distribution by Type:")
for t in df_cleaned['type'].unique():
    prices = df_cleaned[df_cleaned['type'] == t]['prix']
    print(f"\n{t}:")
    print(f"Min: {prices.min():,.0f}")
    print(f"Max: {prices.max():,.0f}")
    print(f"Mean: {prices.mean():,.0f}")
    print(f"Median: {prices.median():,.0f}")

print("\nPrice Distribution by City (Top 5 cities):")
for city in df_cleaned['ville'].value_counts().head().index:
    prices = df_cleaned[df_cleaned['ville'] == city]['prix']
    print(f"\n{city}:")
    print(f"Min: {prices.min():,.0f}")
    print(f"Max: {prices.max():,.0f}")
    print(f"Mean: {prices.mean():,.0f}")
    print(f"Median: {prices.median():,.0f}")

# Print a few sample rows
print("\nSample Rows:")
print(df_cleaned.head())

Training Data Statistics:

Numerical Features Statistics:
           chambres  salles_de_bain  superficie en m²  price_per_m2  \
count  26930.000000    26930.000000      26930.000000  26930.000000
mean       2.759673        1.753806        106.788749   9950.477179
std        1.279973        0.893026         53.256206   5522.164416
min        1.000000        0.000000         52.000000   1333.333333
25%        2.000000        1.000000         70.000000   6428.571429
50%        2.000000        2.000000         90.000000   8620.689655
75%        3.000000        2.000000        120.000000  11951.219512
max       10.000000        8.000000        319.000000  81481.481481

       rooms_per_bath
count    26930.000000
mean         1.713413
std          0.678402
min          0.000000
25%          1.000000
50%          1.500000
75%          2.000000
max         10.000000

Price Distribution by Type:

appartement:
Min: 300,000
Max: 4,500,000
Mean: 919,497
Median: 710,000

Maison et Villa:
Min: 500,000
Max: 4,500,000
Mean: 1,464,089
Median: 1,250,000

Villa et Riad:
Min: 1,000,000
Max: 4,500,000
Mean: 2,497,725
Median: 2,400,000

Price Distribution by City (Top 5 cities):

Casablanca:
Min: 300,000
Max: 4,500,000
Mean: 1,217,419
Median: 950,000

Marrakech:
Min: 300,000
Max: 4,500,000
Mean: 1,133,915
Median: 850,000

Tanger:
Min: 300,000
Max: 4,500,000
Mean: 1,108,427
Median: 870,000

Kénitra:
Min: 300,000
Max: 4,500,000
Mean: 861,799
Median: 700,000

Salé:
Min: 300,000
Max: 4,500,000
Mean: 863,290
Median: 690,000

Sample Rows:
    chambres  salles_de_bain  superficie en m²     prix         type  \
1          2               2                81   850000  appartement
2          2               2                92  1104000  appartement
6          2               1               100   890000  appartement
8          2               2                95  1400000  appartement
10         5               2               200   550000  appartement

         ville  price_per_m2  rooms_per_bath
1   Casablanca  10493.827160             1.0
2   Casablanca  12000.000000             1.0
6       Tanger   8900.000000             2.0
8    Marrakech  14736.842105             1.0
10     Tétouan   2750.000000             2.5